<div class="container">
  <div class="row Height auto">
    <div class="mx-auto my-auto">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
    </div>
  </div>
</div>

<div class="row Height auto">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>新着商品</h3>
    <% @items.each do |item| %>
      <%= link_to item_path(item.id) do %>
      <%= image_tag item.get_item_image(100,100) %>
      <% end %>
      <%= link_to item.name, item_path(item.id) %>
    <% end %>
    </br>
    <%= link_to "全ての商品を見る＞", items_path %>
  </div>
</div>
